input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #03569f;
    -webkit-box-shadow: 0 1px 0 0 #03569f;
    box-shadow: 0 1px 0 0 #03569f;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #03569f;
}